* {
    outline: 1px solid #f00;
}

header {
    background: #363636;
    line-height: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.menu_box {
    width: 1000px;
    margin: 0 auto;
}

header .top_menu {
    display: flex;
    justify-content: space-between;
}

header nav {
    color: #fff;
    font-size: 13px;
}

header nav ul {
    display: flex;
    gap: 30px;
}

header .top_menu i {
    color: #fff;
}

header .top_menu .icon {
    display: flex;
}